h1 {
  color: #663300;
  text-align: center;

}

h2{
  color: green;
  font-style: italic;
  text-align: center;

}

p{
  font-family: sans-serif;

}

ul{
  line-height: 40px;
}

body {
  background-color:gold ;
}

  button {
    padding: 20px
  }
